In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
1570,tt0343660,75000000,196482882,50 First Dates,Adam Sandler|Drew Barrymore|Rob Schneider|Sean...,Peter Segal,Imagine having to win over the girl of your dr...,Henry is a player skilled at seducing women. B...,99,Comedy|Romance,Columbia Pictures Corporation|Happy Madison Pr...,2/13/2004,6.5,2004
264,tt0327597,60000000,124596398,Coraline,Dakota Fanning|Teri Hatcher|Jennifer Saunders|...,Henry Selick,Be careful what you wish for.,"When Coraline moves to an old house, she feels...",100,Animation|Family,Focus Features|Laika Entertainment,2/5/2009,7.1,2009
464,tt1564585,10000000,66821036,Skyline,Eric Balfour|Scottie Thompson|David Zayas|Dona...,Colin Strause|Greg Strause,Don't look up,When strange lights descend on the city of Los...,100,Science Fiction,Rogue Pictures|Relativity Media|Hydraulx|Rat E...,11/11/2010,4.7,2010
1225,tt2312718,22000000,43058898,Homefront,Jason Statham|James Franco|Izabela Vidovic|Win...,Gary Fleder,How far would you go to protect your home?,Phil Broker is a former DEA agent who has gone...,100,Action|Thriller,Millennium Films|Open Road Films,11/27/2013,6.4,2013

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
month_dict = {1: 'Январь', 2: 'Февраль', 3: 'Март',
              4: 'Апрель', 5: 'Май', 6: 'Июнь', 
              7: 'Июль', 8: 'Август', 9: 'Сентябрь', 
              10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь'}

def get_season(month_num):
     if 3 <= month_num <= 5:
          return 'Spring'
     elif 6 <= month_num <= 8:
          return 'Summer'
     elif 9 <= month_num <= 11:
          return 'Autumn'
     else:
          return 'Winter'

data['profit'] = data.revenue - data.budget
data['month'] = data.release_date.apply(lambda s: int(s.split('/')[0]))
data['season'] = data.month.apply(get_season)
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data_filtered = data[data.budget == data.budget.max()]
movie_max_budget = data_filtered.original_title.values[0] + ' (' + data_filtered.imdb_id.values[0] + ')'

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
data_filtered = data[data.runtime == data.runtime.max()]
movie_max_runtime = data_filtered.original_title.values[0] + ' (' + data_filtered.imdb_id.values[0] + ')'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data_filtered = data[data.runtime == data.runtime.min()]
movie_min_runtime = data_filtered.original_title.values[0] + ' (' + data_filtered.imdb_id.values[0] + ')'
answers['3'] = movie_min_runtime

# 4. Какова средняя длительность фильмов?

In [11]:
movie_mean_runtime = round(data.runtime.mean())
answers['4'] = movie_mean_runtime

# 5. Каково медианное значение длительности фильмов?

In [12]:
movie_median_runtime = round(data.runtime.median())
answers['5'] = movie_median_runtime

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data_filtered = data[data.profit == data.profit.max()]
movie_max_profit = data_filtered.original_title.values[0] + ' (' + data_filtered.imdb_id.values[0] + ')'
answers['6'] = movie_max_profit

# 7. Какой фильм самый убыточный?

In [14]:
data_filtered = data[data.profit == data.profit.min()]
movie_min_profit = data_filtered.original_title.values[0] + ' (' + data_filtered.imdb_id.values[0] + ')'
answers['7'] = movie_max_profit

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = len(data[data.profit > 0].index)

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
data_filtered = data[data.release_year == 2008]
data_filtered = data_filtered[data_filtered.profit == data_filtered.profit.max()]
movie2008_max_profit = data_filtered.original_title.values[0] + ' (' + data_filtered.imdb_id.values[0] + ')'
answers['9'] = movie2008_max_profit

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
data_filtered = data.query('2012 <= release_year <= 2014')
data_filtered = data_filtered[data_filtered.profit == data_filtered.profit.min()]
answers['10'] = data_filtered.original_title.values[0] + ' (' + data_filtered.imdb_id.values[0] + ')'

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres = pd.Series(data.genres.str.split('|').sum())
answers['11'] = genres.value_counts().index[0]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
data_filtered = data[data.profit > 0]
genres = pd.Series(data_filtered.genres.str.split('|').sum())
answers['12'] = genres.value_counts().index[0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [20]:
df_tmp = data.copy()
df_tmp['director'] = data.director.str.split('|')
df_tmp = df_tmp.explode('director')
data_gr = df_tmp.groupby(by='director')['revenue'].sum()
director = data_gr.loc[data_gr == data_gr.max()].index[0]
answers['13'] = data_gr.loc[data_gr == data_gr.max()].index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
df_tmp = data.copy()
df_tmp['director'] = df_tmp.director.str.split('|')
df_tmp['genres'] = df_tmp.genres.str.split('|')
df_tmp = df_tmp.explode('director')
df_tmp = df_tmp.explode('genres')
data_filtered = df_tmp[df_tmp.genres == 'Action']
data_gr = data_filtered.groupby(by='director')['imdb_id'].nunique()
director = data_gr.loc[data_gr == data_gr.max()].index[0]
answers['14'] = data_gr.loc[data_gr == data_gr.max()].index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
df_tmp = data.copy()
df_tmp = df_tmp[df_tmp.release_year == 2012]
df_tmp['cast'] = df_tmp.cast.str.split('|')
df_tmp = df_tmp.explode('cast')
data_gr = df_tmp.groupby(by='cast')['revenue'].sum()
actor = data_gr.loc[data_gr == data_gr.max()].index[0]
answers['15'] = actor

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
df_tmp = data.copy()
df_tmp = df_tmp[df_tmp.budget > df_tmp.budget.mean()]
df_tmp['cast'] = df_tmp.cast.str.split('|')
df_tmp = df_tmp.explode('cast')
data_gr = df_tmp.groupby(by='cast')['imdb_id'].nunique()
actor = data_gr.loc[data_gr == data_gr.max()].index[0]
answers['16'] = actor

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
df_tmp = data.copy()
df_tmp['cast'] = df_tmp.cast.str.split('|')
df_tmp = df_tmp.explode('cast')
df_tmp = df_tmp[df_tmp.cast == 'Nicolas Cage']
df_tmp['genres'] = df_tmp.genres.str.split('|')
df_tmp = df_tmp.explode('genres')
data_gr = df_tmp.groupby(by='genres')['imdb_id'].nunique()
genres = data_gr.loc[data_gr == data_gr.max()].index[0]
answers['17'] = actor

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
df_tmp = data.copy()
df_tmp['production_companies'] = df_tmp.production_companies.str.split('|')
df_tmp = df_tmp.explode('production_companies')
data_filtered = df_tmp[df_tmp.production_companies == 'Paramount Pictures']
data_filtered = data_filtered[data_filtered.profit == data_filtered.profit.min()]
movie_paramount_min_profit = data_filtered.original_title.values[0] + ' (' + data_filtered.imdb_id.values[0] + ')'
answers['18'] = movie_paramount_min_profit

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
data_gr = data.groupby(by='release_year').revenue.sum()
year = data_gr.loc[data_gr == data_gr.max()].index[0]
answers['19'] = year

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
df_tmp = data.copy()
data_filtered = df_tmp[df_tmp.production_companies.str.contains('Warner Bros')]
data_gr = data_filtered.groupby(by='release_year').profit.sum()
year = data_gr.loc[data_gr == data_gr.max()].index[0]
answers['20'] = year

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
data_gr = data.groupby(by='month')['imdb_id'].nunique()
month_movies_max_qty = month_dict[data_gr.loc[data_gr == data_gr.max()].index[0]]
answers['21'] = month_movies_max_qty

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
data_filtered = data[data.season == 'Summer']
summer_movies_qty = data_filtered.imdb_id.nunique()
answers['22'] = summer_movies_qty

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
df_tmp = data.copy()
df_tmp = df_tmp[data.season == 'Winter']
df_tmp['director'] = df_tmp.director.str.split('|')
df_tmp = df_tmp.explode('director')
data_gr = df_tmp.groupby(by='director')['imdb_id'].nunique()
director = data_gr.loc[data_gr == data_gr.max()].index[0]
answers['23'] = director

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
df_tmp = data.copy()
#df_tmp['production_companies'] = df_tmp.production_companies.str.split('|')
#df_tmp = df_tmp.explode('production_companies')
df_tmp['title_length'] = df_tmp.original_title.str.len()
data_filtered = df_tmp[df_tmp.title_length == df_tmp.title_length.max()]
prod_comp = data_filtered.production_companies.values[0]
answers['24'] = prod_comp

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
df_tmp = data.copy()
#df_tmp['production_companies'] = df_tmp.production_companies.str.split('|')
#df_tmp = df_tmp.explode('production_companies')
df_tmp['overview_word_qty'] = data.overview.apply(lambda s: len(s.split(' ')))#df_tmp.overview.str.split(' ')
data_filtered = df_tmp[df_tmp.overview_word_qty == df_tmp.overview_word_qty.max()]
prod_comp = data_filtered.production_companies.values[0]
answers['25'] = prod_comp

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [33]:
df_tmp = data.copy()
df_tmp['vote_average_qty'] = df_tmp.vote_average.apply(lambda x: df_tmp[df_tmp.vote_average == x].imdb_id.nunique())
df_tmp['vote_percent'] = df_tmp['vote_average_qty'] / df_tmp.imdb_id.nunique() * 100
# не соображу что дальше

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [34]:
# в конце можно посмотреть свои ответы к каждому вопросу

answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'Avatar (tt0499549)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Matt Damon',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Twentieth Century Fox Film Corporation|Four By Two Productions',
 '25': 'Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show'}

In [35]:
# и убедиться что ни чего не пропустил)
len(answers)

25